.toggle {
    display: none;
}

.nav-bar{
    width: 100%;
    height: 70px;
    background-color: var(--secound-color);
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.name a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.name h1 {
    color: var(--primary-color);
    padding-right: 10px;
    font-size: 30px;
}

.name a h2{
    color: var(--white);
}

#initialOptions {
    color: var(--primary-color);
    transition: .8s;
    
}

.options {
    display: flex;
}

.options a {
    text-decoration: none;
    margin: 0 15px;
    padding:    10px;
    color: var(--white);
    font-size: 14px;
    position: relative;
    display: flex;
}

.options a i{
    color: var(--primary-color);
    vertical-align: text-bottom;
    margin: 0 3px 0;
}

.options input {
    border-radius: 17px;
    height: 30px;
    padding: 5px 5px 5px 15px;
}
.inputStyle {
    display: flex;
    position: relative;
    align-items: center;
}

.inputStyle i {
    position: absolute;
    right: 11px;
    color: var(--black);
}

.options input:focus{
    outline: none;
}

.options a::after {
    content: "";
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 2px;
    opacity: 0;
    transition:  opacity .4s;
}

.options a:hover:after, .options a:hover::after {
    opacity: 1;
}

.options a:hover {
    color: var(--primary-color);
} 

#home:hover {
    color: var(--white);
}


/* 
Style responsive
*/
@media (max-width: 768px) {
    /* Para pantallas móviles */

    .toggle {
        display: none;
        /* display: block;
        white-space: normal;
        height: min-content;
        width: 100%;
        height: 3.8rem;
        padding: .7rem;
        background: var(--secound-color);
        position: fixed;
        z-index: 3;
        border-bottom: 1px solid #42454C; */
    }

    .name,
    .options {
        display: flex;
        flex-direction: column;  
    }

    .toggle i {
        position: relative;
        color: var(--white);
        cursor: pointer;
    }

    .name {
        flex-direction: column;
    }


    .nav-bar.move {
       transform: translateX(0);
        opacity: 1;
    }

    .nav-bar{
        position: absolute;
        display: flex;
        flex-direction: column;
        transform: translateX(-100%);
        width: 100%;
        height: 100%;
        transition: transform .9s ease-in-out, opacity .9s ease-in-out;
        opacity: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



  }