.skills {
    width: 100%;
    height: 100vh;
    background-color: var(--quaternary-color);
    /* background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/img/fondoSkills.jpg");
    background-size: cover; */
}

.informationSkill {
    height: 30%;
}

.presentationSkills {
    color: var(--white);
    position: relative;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    margin: 0 0 10px 0;
}

.presentationSkills h2 {
    margin-top: .5rem;
    padding: 0 1% 1%;
    font-size: clamp(1.25rem, 1.678vw + 0.174rem, 2.188rem);
}

.presentationSkills p {
    padding: 1%;
    font-size: clamp(1rem, 0.447vw + 0.713rem, 1.25rem);
}

.linear {
    width: 10%;
    border: 0;
    background-color: var(--primary-color);
    height: 2px;
    position: relative;
}

.linear::after,
.linear::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.linear::after {
    top: -5px;
    right: 0px;
}

.linear::before {
    top: -5px;
    left: 0px;
}

.parte1 {
    position: absolute;
    height: 7rem;
    width: 7rem;
    right: 150px;
}

.technologies {
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: #673AB7; */
    
}

.fullstackLanguages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 7%;
    width: 100%;
}


.Front-EndTechnologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Back-EndTechnologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.designTechnologies {
    color: var(--white);
    padding-bottom: 1%;
}

.Back-EndTechnologies h3,
.Front-EndTechnologies h3,
.designTechnologies h3,
.versionController h3 {
    color: var(--white);
    width: max-content;
    margin: .7rem;
    font-size: clamp(1.063rem, 0.783vw + 0.56rem, 1.5rem);
}

.frontendProgramming {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 0%;
    width: 100%;
}

.HTML,
.CSS,
.JS,
.BootStrap,
.vue,
.JAVA,
.SQL,
.SpringBoot,
.express,
.FIGMA,
.git,
.gitHub {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 2%;
}


.inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: conic-gradient(#4caf50 0% 0%, #00000000 0% 100%);
    border: 2px solid #192734;
}


.HTML i {
    background-color: #e34c26;
    color: var(--white);
    border-radius: 50%;
    padding: 10px;
    transition: .4s;
}


.CSS i {
    background-color: #264de4;
    color: var(--white);
    border-radius: 50%;
    padding: 10px;
    transition: .4s;
}


.JS i {
    background-color: #f0db4f;
    color: var(--white);
    border-radius: 50%;
    padding: 10px;
    transition: .4s;
}


.BootStrap i {
    background-color: #673AB7;
    color: var(--white);
    border-radius: 50%;
    padding: 10px;
    transition: .4s;
}

.vue i {
    background-color: #42b883;
    color: var(--white);
    border-radius: 50%;
    padding: 10px;
    transition: .4s;
}

.HTML p,
.CSS p,
.JS p,
.BootStrap p,
.vue p,
.JAVA p,
.SQL p,
.SpringBoot p,
.express p {
    margin: 19% 0 0;
    color: var(--white);
}


.backendProgramming {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 0%;
    width: 100%;
}

.JAVA i {
    background-color: #5382a1;
    color: var(--white);
    border-radius: 50%;
    padding: 10px;
    transition: .4s;
}

.SQL i {
    background-color: #216287;
    color: var(--white);
    border-radius: 50%;
    padding: 10px;
    transition: .4s;
}

.SpringBoot i {
    background-color: #8BC34A;
    color: var(--white);
    border-radius: 50%;
    padding: 10px;
    transition: .4s;
}

.express i {
    background-color: #F7DF1E;
    color: var(--white);
    border-radius: 50%;
    padding: 10px;
    transition: .4s;
}


.technologiesF {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 50%;
    position: relative;
}

.technologiesB {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    position: relative;
}

.tools {
    width: 70%;
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
}

.technologiesD {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}

.FIGMA i {
    background-color: #F44F5A;
    color: var(--white);
    border-radius: 50%;
    padding: 10px;
    transition: .4s;
}

.FIGMA p {
    margin-top: 9%;
    color: var(--white);
}

.versionController {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}


.versionController .app {
    display: flex;
    justify-content: center;
}

.git i {
    background-color: #F44F5A;
    color: var(--white);
    border-radius: 50%;
    padding: 10px;
    transition: .4s;
}

.git p {
    margin-top: 9%;
    width: max-content;
    color: var(--white);
}

.gitHub i {
    background-color: var(--black);
    color: var(--white);
    border-radius: 50%;
    padding: 10px;
    transition: .4s;
}

.gitHub p {
    margin-top: 9%;
    width: max-content;
    color: var(--white);
}

.summary {
    background-color: red;
}




/* 
Style responsive
*/
@media (max-width: 768px) {

    .skills{
        position: relative;
        height: auto;
    }

    .linear{
        width: 30%;
    }

    .parte1 {
        width: 4rem;
        height: 4rem;
        right: 40px;
        top: 30px;
    }

    .presentationSkills p {
        display: none;
    }

    .informationSkill {
        height: 25%;
    }

    .fullstackLanguages, .tools {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .technologiesF, .technologiesB {
        margin: 0;
        padding: 0;
        width: 80%;
        align-items: center;
        margin-bottom: 40px;
    }

    .technologiesD, .versionController{
        margin-bottom: 2rem;
    }


    .technologies {
        display: flex;
        flex-direction: column;
    }

    .backendProgramming{
        display: flex;
        justify-content: center;
    }

}